__pycache__/
DataModelling/getTox/toxicityModel.zip
DataModelling/getTox/toxicityModel/checkpoint
DataModelling/getTox/toxicityModel/toxmodelckpt.index
DataModelling/getTox/toxicityModel/toxmodelckpt.data-00000-of-00001
DataModelling/getSentiment/model.pkl
*.pkl
